# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel Build Output
.vercel/
.vercel_cache/

# Build Files
dist/
build/
*.cache

# System Files
.DS_Store
Thumbs.db

# IDE & Editor Settings
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Process Files
pids/
*.pid
*.seed
*.pid.lock
